<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rubird.muzeipinterest" >

    <uses-sdk android:minSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Required by RemoteMuzeiArtSource -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher" >

        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="pdk4793651583820761277" />
            </intent-filter>
        </activity>

        <service
            android:name=".PinterestArtSource"
            android:description="@string/source_description"
            android:icon="@drawable/ic_source"
            android:label="@string/source_name" >
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtSource" />
            </intent-filter>

            <meta-data
                android:name="color"
                android:value="#C92228" />

            <meta-data
                android:name="settingsActivity"
                android:value="com.rubird.muzeipinterest.SettingsActivity" />
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a10c66284a44e31a64b131dedf5cf861524edd06" />

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
